<ion-card>
  <ion-card-content *ngIf="item.done">
      <ion-card-content>
          {{ item.title }} - {{ item.priority }}
      </ion-card-content >
    <button ion-button color="complete">Completed</button>
  </ion-card-content>
  <ion-card-content *ngIf="!item.done">
      <ion-card-content>
          {{ item.title }} - {{ item.priority }}
      </ion-card-content >
      <button ion-button color="success" (click)="completeTodo()">Complete</button>
      <button ion-button color="danger" (click)="deleteTodo()">Remove</button>
      <button ion-button color="secondary" (click)="editTodo()">Edit</button>
  </ion-card-content>
</ion-card>