page-home {

}

.alla { 
    background-color: black;
    color:white;
    border: 1px solid transparent;
    cursor: pointer;
}
.allb {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.lowa {
    background-color: #FF3C38;
    color:white;
    border: 1px solid transparent;
    cursor: pointer;
}
.lowb {
    background-color: white;
    color:#FF3C38;
    border: 1px solid #FF3C38;
    cursor: pointer;
}
.mediuma {
    background-color: #6699CC;
    color:white;
    border: 1px solid transparent;
    cursor: pointer;
}
.mediumb {
    background-color: white;
    color:#6699CC;
    border: 1px solid #6699CC;
    cursor: pointer;
}
.higha {
    background-color: #FF8C42;
    color:white;
    border: 1px solid transparent;
    cursor: pointer;
}
.highb {
    background-color: white;
    color:#FF8C42;
    border: 1px solid #FF8C42;
    cursor: pointer;
}
